{% extends "layout.nunjucks" %} {% block title %}Fabriqué au Canada : L’histoire de VYXEOS | Vyxeos {% endblock
%} {% block content %}

<style>
    .heading {
        font-weight: bold;
        background-color: #72267A;
        color: #fff;
    }

    .sub-heading {
        font-weight: bold;
        vertical-align: text-top;
        background-color: #D5BED7;
        border: #FFF 1px solid;
    }

    .table-data {
        border: #72267A 1px solid;
    }

    .or-icon {
        background-color: #FFD000;
        outline: #fff 1px solid;
    }

    .dianostic {
        color: #fff;

        background-color: #72267A;
    }

    .icon {
        height: 80px;
    }

    ul.types {
        list-style: inside;
        color: #95205E;
    }

    ul.types>li {
        color: black;
    }
    .strong {
        color:#73267A;
        font-weight:bold;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>FABRIQUÉ AU CANADA : L’HISTOIRE DE VYXEOS</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 my-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe title="Vidéo sur l’histoire canadienne de VYXEOS" src="https://player.vimeo.com/video/630227086?h=3e06507398&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" allowfullscreen></iframe>
            </div>

        </div>
    </div>
    <div class="row callout-white align-items-center">
        <div class="col-12 col-xl-1 text-center my-3">
            <img src="/assets/img/fr/canada_formulation.png" alt="Structure chimique" />
        </div>
        <div class="col-12 col-xl-3">
            <p><span class="strong">Formulé</span> pour optimiser
l’activité synergique de
la daunorubicine et de la
cytarabine<sup>1</sup></p>
        </div>
        <div class="col-12 col-xl-1 text-center my-3">
            <img src="/assets/img/fr/canada_designed.png" alt="Engrenage rond" />
        </div>
        <div class="col-12 col-xl-3">
            <p><span class="strong">Conçu</span> à l’aide de la plateforme
CombiPlex<sup>&reg;</sup> par Celator
Pharmaceuticals, à Vancouver, en
Colombie-Britannique (maintenant
une filiale de Jazz Pharmaceuticals)</p>
        </div>
        <div class="col-12 col-xl-1 text-center my-3">
            <img src="/assets/img/fr/canada_tested.png" alt="Bécher" />
        </div>
        <div class="col-12 col-xl-3">
            <p><span class="strong">Testé</span> dans le cadre
d’essais précliniques
et cliniques dans de
nombreux centres au
Canada</p>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <p class="footnote mb-2">
                C.-B. : Colombie-Britannique.
            </p>
            <p class="footnote mb-2">
            <strong>RÉFÉRENCE :</strong>
             <strong>1.</strong> Lancet JE, Uy GL, Cortes JE <em>et al.</em> CPX-351 (cytarabine and daunorubicin) liposome for injection versus conventional cytarabine plus daunorubicin in older patients with newly diagnosed secondary acute myeloid leukemia. <em>J Clin Oncol</em> 2018;36:2684-2692.
            
            </p>

            </p>
        </div>
    </div>
</div>

{% endblock %}