{% extends "layout.nunjucks" %} {% block title %} À propos de CombiPlex | Vyxeos {% endblock
%} {% block content %}

<style> 
  
    .heading {
        font-weight: bold;
        background-color: #72267A;
        color: #fff;
    }

    .sub-heading {
        font-weight: bold;
        vertical-align: text-top;
        background-color: #D5BED7;
        border: #FFF 1px solid;
    }

    .table-data {
        border: #72267A 1px solid;
    }

    .or-icon {
        background-color: #FFD000;
        outline: #fff 1px solid;
    }

    .dianostic {
        color: #fff;

        background-color: #72267A;
    }

    .icon {
        height: 80px;
    }

    ul.types {
        list-style: inside;
        color: #95205E;
    }

    ul.types>li {
        color: black;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>VYXEOS <br /> CONÇU POUR UNE ACTIVITÉ SYNERGIQUE OPTIMALE<sup>1</sup></h1>

        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-8 text-center">
            <img class="img-fluid img-graphic" src="/assets/img/fr/vyexos_synergy.png"
                alt="Activité synergique de la formulation liposomale VYXEOS " />
        </div>
        <div class="col-12 col-xl-4">

            <div class="row callout-purple m-3">
                <div class="col-4">
                    <img src="/assets/img/fr/made_in_canada.png" alt="Feuille d’érable violette" class="icon" />
                </div>
                <div class="col-8 text-center">

                    <p class="mb-3"><strong>Fabriqué au Canada</strong><br /><em>
                            L’histoire de VYXEOS</em></p>
                    <a href="made_in_canada.html" class="btn btn-md btn-callout mt-3">
                        En savoir plus
                    </a>
                </div>
            </div>



            <div class="row callout-purple m-3">
                <div class="col-4">
                    <img src="/assets/img/fr/Vyexos_machanism.png" alt="Icône de 3 personnes" class="icon" />
                </div>
                <div class="col-8 text-center">

                    <p class="mb-3"><strong>VYXEOS</strong><br /><em>

                            Le mode d’action</em></p>
                    <a href="/about/mechanism-of-action.html" class="btn btn-md btn-callout mt-3">
                        En savoir plus
                    </a>
                </div>
            </div>

        </div>
    </div>




    <div class="row">
        <div class="col-12">
          <p class="footnote mb-2">
            <sup>*</sup> Le rapport 1:5 correspond à 1 part de daunorubicine et 5 parts de cytarabine.
          </p>
            <p class="footnote mb-2">

              <strong>Références :</strong> 
              <strong>1.</strong> Tolcher AW, Mayer LD. Improving combination cancer therapy: the combiplex<sup>&reg;</sup> development platform. <em>Future Oncol</em> 2018;14:1317-32. 
              <strong>2.</strong> Dicko A, Mayer LD, Tardi PG. Use of nanoscale delivery systems to maintain synergistic drug ratios in vivo. <em>Expert Opin Drug Deliv</em> 2010;7:1329-41.
               
            </p>
        </div>
    </div>
</div>

{% endblock %}