{% from "macros.nunjucks" import dotted_item, plus_item, modal %}

<div class="modal" tabindex="-1" role="dialog" id="modal-link-not-available">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>This link is currently unavailable.</p>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
