{% extends "layout.nunjucks" %} {% block title %} Welcome | Vyxeos {% endblock %} {% block content %}

<style>
    header {
        display: none;
    }
    body {
        background-image: url('/assets/img/background.png');
        background-size: cover;
    }
    .img-logo{
        max-width:300px;
    }
    .purple-circles{
        background-image: url('/assets/img/circle_image.png');
        background-repeat: no-repeat;
        background-position: bottom left;
    }
    .gray-background{
        background: transparent;
    }
    @media (max-width: 1200px) { 
        .hug-size {
            margin-bottom: 300px;
        }
        
    }
</style>
<main class="bg-blue purple-circles">
  <section id="login" class="login pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <div class="text-center">
                <img src="/assets/img/en/logo_vyxeos_header.png" alt="Logo" class="img-logo">
            </div>
        </div>
        <div class="col-12">
            <div class="text-center">
                <a href="login.html" class="btn btn-outline-purple my-5">For healthcare professionals</a>
            </div>
        </div>
        <div class="col-12">
            <div class="text-center">
            <img src="/assets/img/en/red_hug.png" alt="" class="img-fluid hug-size">
            </div>
            
        </div>
    </div>

  </section>
  
</main>
{% endblock %}
